<?xml version="1.0"?>
<!-- Author : Eech Hsiao -->
<!-- hsiaoy4@mcmaster.ca -->

<launch>
	<!-- <master auto = "start"/> -->
	<arg name = "no_static_map"		default = "false"/>
	<arg name = "odom_frame_id"		default = "odom"/>
	<arg name = "base_frame_id"		default = "base_link"/>
	<arg name = "global_frame_id"	default = "map"/>
	<arg name = "laser_topic"		default = "scan" />

	<!-- MAP SERVER -->
	<arg name = "map_file" default = "$(find macbot_navigation)/map/enviro.yaml"/>
	<node name = "map_server" pkg = "map_server" type = "map_server" args = "$(arg map_file)" />

	<!-- AMCL LOCALIZATION -->
	<node pkg = "amcl" type = "amcl" name = "amcl" output = "screen">
		<param name = "use_map_topic" 		value = "true"			/>
		<param name = "odom_frame_id"		value = "odom"			/>
		<param name = "odom_model_type"		value = "diff"			/>
		<param name = "base_frame_id"		value = "base_link"		/>
		<param name = "min_particles"		value = "500"			/>
		<param name = "max_particles"		value = "1000"			/>
		<param name = "resample_interval"	value = "1"				/>
		<param name = "laser_max_beams"		value = "60"			/>
		<param name = "gui_publish_rate"	value = "10.0"			/>
		<param name = "kld_err"				value = "0.05"			/>
    	<param name = "kld_z"				value = "0.99"			/>
		<param name = "update_min_d"		value = "0.20"			/>
    	<param name = "update_min_a"		value = "0.2"			/>
		<param name = "resample_interval"	value = "1"				/>
   		<param name = "transform_tolerance" value = "1.0"			/>
	</node>

	<!-- GLOBAL PLANNERS // http://wiki.ros.org/nav_core -->
	<!-- global_planner/GlobalPlanner // navfn/NavfnROS // carrot_planner/CarrotPlanner -->
	<arg name = "base_global_planner"	default = "global_planner/GlobalPlanner"/>

	<!-- LOCAL PLANNERS // http://wiki.ros.org/nav_core -->
	<arg name = "base_local_planner"	default = "dwa_local_planner/DWAPlannerROS"/>

	<!-- MOVE BASE PATH PLANNER -->
	<node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">

		<param name = "base_global_planner"					value = "$(arg base_global_planner)"/> 
		<param name = "base_local_planner"					value = "$(arg base_local_planner)"/> 
		<param name = "global_costmap/global_frame"			value = "$(arg global_frame_id)"/>
		<param name = "global_costmap/robot_base_frame"		value = "$(arg base_frame_id)"/>
		<param name = "local_costmap/global_frame"			value = "$(arg odom_frame_id)"/>
		<param name = "local_costmap/robot_base_frame"		value = "$(arg base_frame_id)"/>
		<param name = "DWAPlannerROS/global_frame_id"		value = "$(arg odom_frame_id)"/>

		<rosparam file = "$(find macbot_navigation)/config/costmap_common_params.yaml"       command = "load" ns = "global_costmap"/>
		<rosparam file = "$(find macbot_navigation)/config/global_costmap_params.yaml"       command = "load"/>
		<rosparam file = "$(find macbot_navigation)/config/costmap_common_params.yaml"       command = "load" ns = "local_costmap"/>
		<rosparam file = "$(find macbot_navigation)/config/local_costmap_params.yaml"        command = "load"/>
		<rosparam file = "$(find macbot_navigation)/config/params.yaml"						 command = "load"/>

	</node> 
</launch>