<?xml version="1.0"?>
<!-- Author : Eech Hsiao -->
<!-- hsiaoy4@mcmaster.ca -->

<launch>
	<master auto = "start"/>
	<arg name = "no_static_map"		default = "false"/>
    <arg name = "map_file"	    	default = "gmap_map"/>

	<!-- MAP SERVER -->
	<arg name = "map_file" default = "$(find macbot_navigation)/map/$(arg map_arg).yaml"/>
	<node name = "map_server" pkg = "map_server" type = "map_server" args = "$(arg map_file)" />

	<!-- AMCL LOCALIZATION -->
	<node pkg = "amcl" type = "amcl" name = "amcl" output = "screen">
		<param name = "use_map_topic" 		value = "true"			/>
		<param name = "odom_frame_id"		value = "odom"			/>
		<param name = "odom_model_type"		value = "diff"			/>
		<param name = "base_frame_id"		value = "base_link"		/>
		<param name = "min_particles"		value = "500"			/>
		<param name = "max_particles"		value = "1000"			/>
		<param name = "resample_interval"	value = "1"				/>
		<param name = "laser_max_beams"		value = "60"			/>
		<param name = "gui_publish_rate"	value = "10.0"			/>
		<param name = "kld_err"				value = "0.05"			/>
    	<param name = "kld_z"				value = "0.99"			/>
		<param name = "update_min_d"		value = "0.20"			/>
    	<param name = "update_min_a"		value = "0.2"			/>
	</node>
</launch>