<?xml version="1.0"?>
<launch>
    <node pkg = "teleop_twist_keyboard" type = "teleop_twist_keyboard.py" name = "teleop_twist_keyboard"  output = "screen">
        <param name = "_speed"  value = "3"   type = "double"/>
        <param name = "_turn"   value = "1"   type = "double"/>
        <remap from = "cmd_vel" to = "mobile_base_controller/cmd_vel"/>
    </node>
</launch>