<?xml version="1.0"?>
<!-- Author : Eech Hsiao -->
<!-- hsiaoy4@mcmaster.ca -->

<launch>

    <!-- Loading in URDF.XACRO file -->
    <param name = "robot_description" command = "$(find xacro)/xacro --inorder '$(find macbot_description)/urdf/robot_textured.xacro'"/>

    <!-- We need robot_state_publisher to publish static transforms of the robot from URDF -->
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher"/>

    <!-- Launching our own macbot_node.py -->
    <node pkg = "macbot_physical" name = "macbot_node" type = "macbot_node.py"/>

    <!-- Launching our own tf_broadcaster.py -->
    <node pkg = "macbot_physical" name = "tf_broadcaster" type = "tf_broadcaster.py"/>

    <!-- Differential Drive Controller -->
    <arg name = "ticks_per_meter"       value = "5593" />
    <arg name = "wheel_separation"      value = "0.275" />
    <node name = "controller" pkg = "diff_drive" type = "diff_drive_controller" output = "screen">
        <rosparam subst_value = "true">
            ticks_per_meter: $(arg ticks_per_meter)
            wheel_separation: $(arg wheel_separation)
            max_motor_speed: 60
            timeout: 0.1
            rate: 5
        </rosparam>
    </node>

    <!-- teleop_twist_keyboard drive with keyboard for cmd_vel -->
    <node pkg = "teleop_twist_keyboard" type = "teleop_twist_keyboard.py" name = "teleop_twist_keyboard" output = "screen"/>
</launch>